$font-family__primary: 'Alegreya Sans SC', sans-serif;
$font-family__secondary: 'Lilita One', cursive;

h1 {
    font-family: $font-family__primary;
    letter-spacing: 1px;
}

p {
    font-size: calc(0.9rem + 0.5vw);
    margin-bottom: 0;
    text-align: left;
}

h2,
h3,
h4,
h5,
h6,
p {
    font-family: $font-family__secondary;
    letter-spacing: 1.5px;
}

.game__answer-btn--short-font {
    font-size: 0.8rem !important;
    padding: 0.2rem !important;
}
.game__answer-btn--medium-font {
    font-size: 0.8rem !important;
    padding: 0.2rem !important;
}
.game__answer-btn--long-font {
    font-size: 0.7rem !important;
}

.game__answer-btn--extra-long-font {
    font-size: 0.75rem !important;
    padding: 0.2rem !important;
}
