$font-family__primary: 'Alegreya Sans SC', sans-serif;
$font-family__secondary: 'Lilita One', cursive;

h1 {
    font-family: $font-family__primary;
    letter-spacing: 1px;
}

p {
    font-size: calc(0.9rem + 0.5vw);
    margin-bottom: 0;
    text-align: left;
}

h2,
h3,
h4,
h5,
h6,
p {
    font-family: $font-family__secondary;
    letter-spacing: 1.5px;
}

.font__extra-large {
    font-size: 0.95rem !important;

    @media (max-width: 480px) {
        font-size: 0.55rem !important;
    }

    @media (min-width: 481px) {
        font-size: 0.75rem !important;
    }

    @media (min-width: 600px) {
        font-size: 0.75rem !important;
    }

    @media (min-width: 801px) {
        font-size: 1rem !important;
    }
}

.font__large {
    font-size: 0.75rem !important;

    @media (max-width: 480px) {
        font-size: 0.5rem !important;
    }
    @media (min-width: 481px) {
        font-size: 0.65rem !important;
    }
    @media (min-width: 600px) {
        font-size: 0.65rem !important;
    }
    @media (min-width: 801px) {
        font-size: 0.8rem !important;
    }
}

.font__medium {
    font-size: 0.65rem !important;

    @media (max-width: 480px) {
        font-size: 0.5rem !important;
    }
    @media (min-width: 481px) {
        font-size: 0.5rem !important;
    }
    @media (min-width: 600px) {
        font-size: 0.6rem !important;
    }

    @media (min-width: 801px) {
        font-size: 0.65rem !important;
    }
}

.font__small {
    font-size: 0.6rem !important;

    @media (max-width: 480px) {
        font-size: 0.5rem !important;
    }
    @media (min-width: 481px) {
        font-size: 0.5rem !important;
    }
    @media (min-width: 801px) {
        font-size: 0.6rem !important;
    }
}
