.category {
    &__title {
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__flag,
    &__capital {
        padding-left: 2rem;
        padding-right: 2rem;
        display: flex;
        align-items: center;
    }
    &__card {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    &__card-title {
    }
    &__body {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding: 0.5rem;
    }
    &__img {
        border-radius: 1rem;
    }
}
