.end-game {
    &__statistic-table {
        font-family: $font-family__primary;
        color: var(--theme__color--text);
        background-color: var(--theme__color--primary);
        border: 1px solid var(--theme__color--border);
        box-shadow: 1px 1px 5px 0px var(--theme__color--shadow);
    }
    // &__score {
    //     &--label-value {
    //         font-size: 5rem;
    //     }
    // }
}
