/* -------------- */
/* ! DARK THEME */
/* -------------- */

html[data-theme='dark'] {
    --theme__color--primary: #{$theme-dark__bg--primary};
    --theme__color--secondary: #{$theme-dark__bg--secondary};
    --theme__color--border: #{$theme-dark__bg--border};
    --theme__color--shadow: #{$theme-dark__bg--shadow};
    --theme__color--text: #{$theme-dark__text-color};
    --theme__color--success: #{$theme-dark__success};
    --theme__color--error: #{$theme-dark__error};
    --theme__color--warning: #{$theme-dark__warning};
    --theme__color--selected: #{$theme-dark__selected};
    --theme__color--svg-fill: #{$theme-dark__svg-fill};
    --theme__color--svg-background: #{$theme-dark__bg--primary};
}
